.competition-winners {
  h4 {
    margin-bottom: 5px;
  }
  .avatar {
    display: inline-block;
    margin: 5px;
  }
}

.comp-status-message {
  font-size: 110%;
  display: block;
}

.comp-status {
  font-size: 200%;
  font-weight: 500;
  display: block;
  margin: 3px 0 10px;
}

.countdown.is-countdown {
  width: 300px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #fafafa;
  border: 1px solid @gray-light;
  padding: 5px 0;

  .countdown-row {
    display: inline-block;
  }
}

.countdown {
  position: relative;

  .countdown-descr {
    position: relative;
    top: -3.8em;
  }
  .countdown-show4 {
    position: relative;
    top: 1.8em;
  }
}

.competition-brief {
  .competition-status {
    text-align: center;
    margin-bottom: 20px;
  }

  @media (min-width: @screen-md-min) {
    .brief-column {
      border-right: 1px solid @gray-lighter;
    }
  }
}

.competition-rules {
  li > .bbcode {
    margin-bottom: 0;
  }
}

.competition-results {
  .ribbon {
    padding: 10px;
    background: @alert-info-bg;
    border-bottom: 1px solid @alert-info-border;
    margin: -15px -15px 15px;

    .avatar.small {
      float: left;
      margin: 0;
      padding: 0;
      padding-right: 10px;
    }
    .btn {
      float: right;
      margin-top: 12px;
    }
    h2, h3 {
      margin: 0;
    }
    h2 {
      margin-bottom: 7px;
    }
  }
}

.competition-vote-entry {
  text-align: center;

  h3 {
    margin-top: 0;
  }
  button {
    margin-top: 5px;
  }

  &.voted {
    background-color: #e9ffe5;
  }

  &.loading {

  }
}